*{
    background-color: rgb(124, 100, 178);
    font-family:"Berlin Sans FB", "Tempus Sans ITC", "Arial";
    padding: 0%;
    margin: 0%;
    color: whitesmoke;
    /* overflow: hidden; */
}
#title h1{
    color: rgb(219, 219, 0);
    background-color: rgb(66, 13, 66);
    text-align: center;
    padding: 1rem 0 1rem 0;
}
#body{
    font-size: 250%;
    display: flex;
    flex-direction: column;
}
#displaybox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#displaybox div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    background-color: rgb(197, 141, 250);
    font-size: 250%;
    border-radius: 2rem;
    color: black;
}
#score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
#score div {
    text-align: center;
    width: 50%;
}
#body h1{
    text-align: center;
    padding:1rem;
    font-size: 100%;
    color:rgb(129, 255, 226)
}
#action{
    display: flex;
    justify-content: space-around;
    font-size: 200%;
    margin: 1rem 0;
}
#description {
    text-align: center;
    width: 100%;
    background: rgb(253, 78, 78);
}
#results {
    visibility: hidden;
    position:fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 300%;
    background-color: rgba(255, 253, 253, 0.582);
}
#retry {
    font-size: 150%;
}


